.cardColor {
  border-radius: 7px;
  background: #f4f8ff;
  display: flex;
  padding: 4px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  .card {
    display: flex;
    width: 255px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 7px;
    background: var(--neuteral-white, #fff);
    box-shadow: 0px 1px 2px 0px #d0daeb, 0px 0px 2px 0px #eef4fe;
    .textCheck {
      max-height: 3 * 20px; 
      overflow: hidden;
      color: var(--primary-blue, #3d8fec);
      text-overflow: ellipsis;
      white-space: normal; 
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 145%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .dateBlock {
      display: flex;
      padding-bottom: 0px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex: 1 0 0;
      .date {
        color: var(--statuses-green, #50b810);
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
      }
    }
    .task {
      height: 20px;
      align-self: stretch;
      overflow: hidden;
      color: var(--neuteral-black-primary, #555);
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 18.2px */
    }

    .imgTags {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      .tagBlock {
        display: flex;
        align-items: center;
        gap: 4px;
        .purpleTag {
          display: flex;
          padding: 1px 6px 2px 6px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 4px;
          background: var(--statuses-entity-tag, #b233a6);
          color: var(--neuteral-white, #fff);
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
        }
        .grayTag {
          display: flex;
          padding: 1px 6px 2px 6px;
          align-items: center;
          gap: 8px;
          border-radius: 4px;
          background: var(--neuteral-gray-20, #ebeef6);
          color: var(--primary-gray-dark, #616c82);
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          position: relative;


          &::after {
            content: "";
            position: absolute;
            top: 21%; 
            right: -13px; 
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-radius: 4px 4px 4px 4px;
            border-left: 11px solid transparent; 
            border-right: 11px solid transparent; 
            border-top: 11px solid #ebeef6; 
            transform: rotate(-90deg);
            border-radius: 14px;
          }
        }
      }
      .img {
        width: 24px;
        height: 24px;
        border-radius: 18px;
      }
    }
  }
}
